<form method="post" action="consultaFecha">		
	<h3> fecha reclamo <%= title%></h3>	
		<table border="1">
     	<tr>
       		<td>< Tipo de Reclamo ></td>
       		<td>< Observaciones del Reclamo ></td>
      </tr> 
      	<tr>
        	<td><%= reclamo.tipoReclamo %></td>
        	<td><%= reclamo.observacion %></td>
    	</tr>
